#info {
    background-color: #FFF8F5;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 60px;
}

.info1 {
    display: flex;
    height: 83px;
}

.info1 img {
    margin-right: 20px;
}

.info1 div {
    align-self: center;
}

.info1 h4 {
    margin: 0;
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #292E36;
}

.info1 p {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #292E36;
}
